.wrapper {
    background: rgba(0, 0, 0, 0.5);
    position: relative;
    margin-bottom: 5rem;
    margin-right: 2rem;
    margin-left: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5rem;
}

.logo_img {
    width: 25%
}

.links_navigation {
    margin-right: 2rem; 
    display: flex;
    column-gap: 2rem;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none !important;
    line-height: 5.6rem;
    font-size: 1.2rem;
    opacity: 0.8;
    color: rgb(255, 255, 255);
    letter-spacing: 0.038rem;
}

.link:visited, .links_navigation{
    text-decoration: none !important;
    color: rgb(255, 255, 255);
}

.link:hover, .link:visited:hover, .links_navigation:visited:hover, .links_navigation:hover {
    text-decoration: none !important; 
}