.wrapper {
    margin: 0 auto;
    text-align: -webkit-center;
    margin-bottom: 20rem;
}

.cards_wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
    row-gap: 3rem;
    justify-items: center;
    width: 80%;
}

* {
    box-sizing: border-box;
  }

